/* ROOT */
:root {
  --v-theme-secondary-rgba: 0, 0, 0;
}
::-webkit-scrollbar {
  width: 0.75em;
  height: 0.75em;
}
::-webkit-scrollbar-track {
  background: rgb(var(--v-theme-white-tone-1));
  border-radius: 100vw;
}
::-webkit-scrollbar-thumb {
  background: rgba(var(--v-theme-accent-darken-2), 1);
  border-radius: 100vw;
  border: 0.1em solid rgb(var(--v-theme-white-tone-1));

  &:hover {
    background: rgba(var(--v-theme-primary-1), 0.8);
  }
}
@supports (
  scrollbar-color: rgb(var(--v-theme-primary)) rgb(var(--v-theme-default))
) {
  * {
    scrollbar-color: rgb(var(--v-theme-ccprimary)) rgb(var(--v-theme-default));
  }
}

/* TRANSITIONS */
.icon-transition {
  transition: all 0.2s ease-in-out !important;
}
.icon-transform {
  transform: translateX(8px);
}
