/* ---------- ROOT ---------- */
:root {
}
html {
  scroll-behavior: smooth;
}
/* Firefox-specific scrollbar styling */
@-moz-document url-prefix() {
  html {
    scrollbar-width: auto; /* Makes the scrollbar thinner in Firefox */
    scrollbar-color: rgb(var(--v-theme-scroll-bar)) /* Thumb color */
      rgb(var(--v-theme-white-tone-1)); /* Track color */
    scrollbar-arrow-color: rgb(var(--v-theme-scroll-bar));
  }
}
/* WebKit-based browsers (Chrome, Safari, Edge, Opera) */
::-webkit-scrollbar {
  width: 0.75em;
  height: 0.75em;
}
::-webkit-scrollbar-track {
  background: rgb(var(--v-theme-white-tone-1));
  border-radius: 100vw;
}
::-webkit-scrollbar-thumb {
  background: rgba(var(--v-theme-scroll-bar), 1);
  border-radius: 100vw;
  border: 0.1em solid rgb(var(--v-theme-white-tone-1));

  &:hover {
    background: rgba(var(--v-theme-scroll-bar), 0.8);
  }
}

/* ---------- TRANSITIONS ---------- */
.icon-transition {
  transition: all 0.2s ease-in-out !important;
}
.icon-transform {
  transform: translateX(8px);
}
